/* App.css */

/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #282c34;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Appbar */
.appbar {
  height: 60px;
  width: 100%;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  
  font-weight: 700;
  font-size: 1.5rem;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 20px;
  background-color: grey;
  border-radius: 15px;
  padding: 20px;
  width: 90%;
}

.hero-card {
  flex: 1 1 calc(50% - 40px); /* 50% width on larger screens */
  margin: 10px;
  background-color: lightgrey;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 15vh;
}

.hero-card button {
  border-radius: 20px;
  height: 35px;
  width: 125px;
  color: white;
  font-weight: 600;
}

/* Main Section */
.main {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 90%;
  margin: 20px;
}

.transaction {
  flex: 1 1 calc(60% - 20px); /* 60% width on larger screens */
  padding: 20px;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: left;
  background-color: #444;
  border-radius: 10px;
}

.expense {
  flex: 1 1 calc(40% - 20px); /* 40% width on larger screens */
  padding: 20px;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: left;
  background-color: #555;
  border-radius: 10px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .hero {
    flex-direction: column; /* Stack hero cards on small screens */
    padding: 0.2rem;
  }

  .main {
    flex-direction: column; /* Stack transaction and expense on small screens */
  }

  .hero-card,
  .transaction,
  .expense {
    flex: 1 1 100%; /* Full width on small screens */
  }
}

.expense-item {
  display: flex;
  justify-content: space-between;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  border-bottom: 1px solid grey;
  padding: 12px;
}

.transaction-container {
  overflow-y: auto;
  max-height: 300px;
}

.btn{
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 10px;
  padding: 0px;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  cursor: pointer;
}

.action-container{
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: center;
}

/* Modal title styling */
.modal-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: left;
  color: black;
}

/* Modal input styling */
.modal-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;

  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Buttons container */
.modal-buttons {
  display: flex;
  margin: 10px;
  gap: 10px;
}

/* Add Balance button styling */
.modal-add-button {
  background-color: #f8c045;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  width: max-content;
}

.modal-add-button:hover {
  background-color: #e0a834;
}

/* Cancel button styling */
.modal-cancel-button {
  background-color: #f5f5f5;
  color: #333;
  width: max-content;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 500;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.modal-cancel-button:hover {
  background-color: #e3e3e3;
}

/* Modal content styling */
.modal-content {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 10px;
}
